/* Font imports */
@font-face {
  src: url('fonts/CerebriSans-Light.woff2') format("woff2"),
       url('fonts/CerebriSans-Light.woff') format("woff"),
       url('fonts/CerebriSans-Light.eot') format("eot"),
       url('fonts/CerebriSans-Light.svg') format("svg"),
       url('fonts/CerebriSans-Light.ttf') format("ttf");
  font-family: 'Cerebri Sans';
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: url('fonts/CerebriSans-LightItalic.woff2') format("woff2"),
       url('fonts/CerebriSans-LightItalic.woff') format("woff"),
       url('fonts/CerebriSans-LightItalic.eot') format("eot"),
       url('fonts/CerebriSans-LightItalic.svg') format("svg"),
       url('fonts/CerebriSans-LightItalic.ttf') format("ttf");
  font-family: 'Cerebri Sans';
  font-style: italic;
  font-weight: 400;
}

@font-face {
  src: url('fonts/CerebriSans-SemiBold.woff2') format("woff2"),
       url('fonts/CerebriSans-SemiBold.woff') format("woff"),
       url('fonts/CerebriSans-SemiBold.eot') format("eot"),
       url('fonts/CerebriSans-SemiBold.svg') format("svg"),
       url('fonts/CerebriSans-SemiBold.ttf') format("ttf");
  font-family: 'Cerebri Sans';
  font-style: normal;
  font-weight: 600;
}

@font-face {
  src: url('fonts/CerebriSans-SemiBoldItalic.woff2') format("woff2"),
       url('fonts/CerebriSans-SemiBoldItalic.woff') format("woff"),
       url('fonts/CerebriSans-SemiBoldItalic.eot') format("eot"),
       url('fonts/CerebriSans-SemiBoldItalic.svg') format("svg"),
       url('fonts/CerebriSans-SemiBoldItalic.ttf') format("ttf");
  font-family: 'Cerebri Sans';
  font-style: italic;
  font-weight: 600;
}

/* Global settings */
*,
*::before,
*::after {
  box-sizing: border-box;
}


:root {
  --clr-white: #fff;
  --clr-black: #000;
  --clr-accent: #F9EC13;
  --clr-paleyellow: #FFF98F;
  --clr-hover: rgba(255,249,143,0.2);
  --clr-sage: #C7D889;
  --clr-green: #12A94F;
  --clr-darkgreen: #1A8C2A;
  --font-sans: 'Cerebri Sans', 'Arial', sans-serif;
}


/* Typography */
html {
  font-size: 16px;
  scroll-behavior: smooth;
  /* overflow-x: hidden; */
}

/* big screens */
@media (min-width: 1280px) { 
  html {
    font-size: 20px;
  }
}
/* small screens */
@media (max-width: 640px) { 
  html {
    font-size: 14px;
  }
}

body {
  background-color: var(--clr-white);
  margin: 0;
  color: var(--clr-black);
  overflow-x: hidden;
}
/* List styling to be inline */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex: 1 1 auto;
}
p, li, span {  
  font-family: var(--font-sans);
  font-size: 1.1rem;
  line-height: 140%;
  letter-spacing: -1%;
}
.small, .copyright, li {
  font-family: var(--font-sans);
  font-size: 1rem;
  line-height: 150%;
}

h1 {
  font-family: var(--font-sans);
  font-size: 2.5rem;
  line-height: 140%;
  font-weight: 600;
  letter-spacing: 0.5rem;
  margin: 1rem 0;
}
h2 {
  font-family: var(--font-sans);
  font-size: 1.85rem;
  line-height: 140%;
  font-weight: 600;
  font-style: normal;
  margin: 0.5rem 0;
  text-transform: lowercase;
}
h3 {
  font-family: var(--font-sans);
  font-size: 1.1rem;
  line-height: 160%;
  font-weight: 600;
  margin: 0.5rem 0;
  letter-spacing: 0.15rem;
  text-transform: lowercase;
}
h4 {
  font-family: var(--font-sans);
  font-size: 1.2rem;
  line-height: 140%;
  font-weight: 600;
  color: var(--clr-darkgreen);
  margin: 0.5rem 0;
}


a, a:link, a:visited {
  color: var(--clr-green);
  text-decoration: none;
  transition: 300ms;
}
a:hover {
  color: var(--clr-darkgreen);
}

hr {
  border: 0;
  width: 100%;
  margin: 1rem auto;
}

/* Buttons */
.cta {
  display: inline-block;
  background-color: var(--clr-paleyellow);
  padding: 0.4em 1rem;
  border-radius: 2rem;
}
a.cta {
  border: 0;
  color: var(--clr-black);
  transition: 800ms;
}
a.cta:hover {
  background-color: var(--clr-sage);
  transition: 800ms;
}
#nav {
  position: sticky;
  top: 0;
  margin: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  font-family: var(--font-sans);
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: lowercase;
  background-color: var(--clr-paleyellow);
}
#nav .cta {
  border-radius: 0;
  padding: 1rem 1.5rem 1rem 1rem;
}


/* Sections */
section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  padding: 4rem;
  position: relative;
  min-height: 100vh;
}

#title {
  width: 100vw;
  /* background-image: url('../img/title.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
  margin: 0;
}
.logo {
  width: 560px;
  max-width: 100%;
  margin: auto;
}
.title_images {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-rows: 1fr 2fr 2fr 3fr 3fr 2fr 1fr;
  grid-template-columns: 1fr 1fr 3fr 1fr 6fr 3fr 2fr 1fr;
  height: 100vh;
}
.title_images > img {
  max-height: 100%;
  max-width: 100%;
}
.title1_6 { grid-row: 1; grid-column: 6; }
.title2_2 { grid-row: 2; grid-column: 2; }
.title2_3 { grid-row-start: 2; grid-row-end: 4; grid-column: 3; }
.title2_7 { grid-row: 2; grid-column: 7; }
.title3_5 { grid-row: 3; grid-column: 5; }
.title3_6 { grid-row: 3; grid-column: 6; justify-self: flex-end; }
.title3_8 { grid-row: 3; grid-column: 8; }
.title4_2 { grid-row: 4; grid-column: 2; }
.title4_3 { grid-row: 4; grid-column: 3; justify-self: flex-end; }
.title4_6 { grid-row: 4; grid-column: 6; }
.title4_7 { grid-row: 4; grid-column: 7; }
.title4_8 { grid-row-start: 4; grid-row-end: 6; grid-column: 8; align-self: end; }
.title5_3 { grid-row-start: 5; grid-row-end: 7; grid-column: 3; }
.title5_4 { grid-row: 5; grid-column: 4; align-self: end; }
.title5_6 { grid-row-start: 5; grid-row-end: 7; grid-column: 6; }
.title6_2 { grid-row: 6; grid-column: 2; }
.title6_7 { grid-row: 6; grid-column: 7; }


.title_text {
  width: 100vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  padding: 0;
  text-align: center;
  z-index: 9;
}

#about {
  color: var(--clr-black);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5rem;
}
#about > div {
  width: 50%;
}
.map {
  width: 100%;
}



#schedule {
  gap: 4rem;
  background-image: url('../img/schedule.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}


#team {
  background-color: var(--clr-grass);
  background-image: url('../img/team.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--clr-navy);
  display: flex;
  flex-direction: column;
  justify-items: space-between;
  gap: 2rem;
}

.team_list {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin: 1.5rem 0 0 0;
}
footer a:link, a:visited {
  color: var(--clr-black);
}
.social li {
  display: inline-flex;
  padding: 0 0.25rem;
  font-family: var(--font-sans);
  font-size: 1rem;
  line-height: 140%;
  font-weight: 600;
}
.copyright {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
.copyright a, .social a {
  background: none;
}

/* Panels */
#schedule > div {
  max-width: 70%;
  padding: 0 1rem;
  width: 100%;
  transition: 300ms ease-in-out;
  display: flex;
  flex-direction: row wrap;
}
.panel { 
  flex-direction: column;
  gap: 1rem;
  border-left: 0.35rem solid var(--clr-green);
}
.panel:hover {
  background-color: var(--clr-hover);
  cursor: pointer;
}
.panel_speakers {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
.panel_speakers > div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 150px;
}
.panel img {
  width: 150px;
}
.panel img:hover {
  filter: sepia(0.8) hue-rotate(80deg);
}

/* wrap columns at small screens */
@media (max-width: 960px) { 
  section {
    padding: 2rem;
  }
  #about {
    flex-direction: column;
  }
  #about > div {
    width: 100%;
  }
  .team_list {
    flex-direction: column;
    text-align: center;
  }
  #schedule > div { 
    max-width: 100%;
  }
  .copyright {
    gap: 0.5rem;
  }
}


/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 2em;
  overflow: auto;
  transition: 300ms ease-in-out;
  --animate-duration: 300ms;
  background-color: var(--clr-paleyellow);
}

.close {
  color: var(--clr-text);
  float: right;
  font-size: 32px;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 3px;
}
.close:hover,
.close:focus {
  color: var(--clr-text);
  text-decoration: none;
  cursor: pointer;
  background-color:rgba(0, 0, 0, 0.1);
}



/* Big profile (in modal) */
.profile {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-around;
  gap: 1rem;
}
.profile > div {
  max-width: 400px;
}
.profile img {
  width: 230px;
}

/* Animations */
.animate__fadeInLeft, .animate__fadeInRight {
  --animate-duration: 3s;
}
.move-right {
  animation: flyRight 2s forwards ease-out;
}
.move-left {
  animation: flyLeft 2s forwards ease-out;
}
@keyframes flyRight {
  from {
    transform: translateX(0px);
    opacity: 1;
  }
  to {
    transform: translateX(1000px);
    opacity: 0;
  }
}
@keyframes flyLeft {
  from {
    transform: translateX(0px);
    opacity: 1;
  }
  to {
    transform: translateX(-1000px);
    opacity: 0;
  }
}
